<!--
By viewing the sources of the application you are treaspassing!
This is illegal and the Kipod police will come after you.

Advertisement:
Sick of the conventional paperwork every month when you need to pay to your workers?
Say no more!
MonyKount is the new easy accounting software you always wanted!
Covered by the KloZedSorz license, its security is backed up by the law, setting a 100Kipodollar bounty on anyone trying to look at the code.
Features:
Admin-centered design: "Admin is my king"

Get your own at monykount.example.org for just 133,337$/month.
-->
<div id="home" column>
    <p>MonyKount EZ accounting</p>
    <p>Ad: Get your own at monykount.example.org for just 133,337$/month!</p>
    <input id="invoice-name" placeholder="Invoice name"/>
    <input id="invoice-text" placeholder="Invoice amount" type="number"/>
    <div row>
        <button onclick="save();">Save invoice</button>
        <button onclick="invoice();">Open invoice</button>
    </div>
</div>
<div id="admin" column>
    <input id="admin-invoice-name" placeholder="Invoice name"/>
    <button onclick="alert('KAF{n1c3_ez_cha113nges_f0r3v3r}');">Create invoice</button>
</div>