<div id="home" column>
    <p>MonyKount EZ accounting</p>
    <p>Ad: Get your own at monykount.example.org for just 133769$/month!<br>Features an Admin-Dictator mode which allows no-one except admin to create invoices.</p>
    <input id="invoice-name" placeholder="Invoice name"/>
    <input id="invoice-text" placeholder="Invoice amount" type="number"/>
    <button onclick="save();">Save invoice</button>
</div>
<div id="admin" column>
    <input id="admin-invoice-name" placeholder="Invoice name"/>
    <button onclick="alert('KAF{n1c3_ez_cha113nges_f0r3v3r}');">Create invoice</button>
</div>